<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";

  // Size and margins
  const width = 700;
  const height = 500;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const scalingForLine = 29;


  // Load data using onMount
  let datapoints = [];
  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json");
  });
  
   //Basically copy what lecturer did
  
   let transformed_data = {}

$:{
  datapoints.forEach((d)=> {
    if(!(d.city in transformed_data)){
      transformed_data[d.city] = {};
    }
    if (!(d.buildingtype in transformed_data[d.city])){
      transformed_data[d.city][d.buildingtype] = [];
    }
    transformed_data[d.city][d.buildingtype].push(d.total_heating_energy);
    }
  )
}


  //Create function for selecting which city to display
  let currentCity= {};

  //Need to do this to initalize the currentCity dictionary. Doing it once works for the rest as well.
  $: if  ("Chicago" in transformed_data){
    currentCity = transformed_data["Chicago"];
  }

  function switchCity(selectedCity){
    currentCity = transformed_data[selectedCity.currentTarget.value];
    console.log(currentCity)
  }

  //Create function for switching between scales



  // Scales
  $: xScale = scaleLinear().domain([0,744]).range([170,innerWidth]);
  $: yScale = scaleLinear().domain(extent(datapoints.map((d) => d.total_heating_energy))).range([15,0]);
  let scale_choice=1;
  function switchScale(selectedScale){
    if(selectedScale.currentTarget.value=="Single Lines"){
      scale_choice=0
    }
    else{
      scale_choice=1
    }
  }
  
  // create path
  //Need to create two options for the scaling.
  
  let pathGenerator = (d,scaling_bool) => {

    if(scaling_bool=="true"){
      yScale = scaleLinear().domain(extent(datapoints.map((d) => d.total_heating_energy))).range([15,0]);
    }
    else{
      yScale = scaleLinear().domain([0,Math.max(...d)]).range([15,0]);
    }


    let path = "M "+160+","+yScale(0);
    d.forEach((y, x) => {
      path += " " + xScale(x) + ',' + yScale(y);
    })
    return path+" "+ " Z";
  
  } 
  
</script>
<div >

      <p>Please select city:</p>
      <input type="radio" id="los_angeles" name="city" value="Los Angeles" on:change={switchCity}>
      <label for="Los Angeles">Los Angeles</label><br>
      <input type="radio" id="baltimore" name="city" value="Baltimore" on:change={switchCity}>
      <label for="Baltimore">Baltimore</label><br>
      <input type="radio" id="chicago" name="city" value="Chicago" on:change={switchCity}>
      <label for="Chicago">Chicago</label><br>
      
 
      <p>Please select line scaling:</p>
      <input type="radio" id="single_line" name="scaling" value="Single Lines" on:change={switchScale} >
      <label for="Single">Single lines</label><br>
      <input type="radio" id="all_line" name="scaling" value="All lines" on:change={switchScale}>
      <label for="All">All lines</label><br>
    </div>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(currentCity) as building_type, x}
      <g transform="translate(0, {x*scalingForLine})">
          <text transform="translate(0, 15)" >{building_type}</text>
          {#if scale_choice==1}
          <path d={pathGenerator(currentCity[building_type],"true")} />
          {:else}
          <path d={pathGenerator(currentCity[building_type],"false")} />
          {/if}      
      </g>
    {/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
