<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";
  
  // Size and margins
  const width = 700;
  const height = 270;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const global_radius = 90;
  const circlePerDay = 2 * Math.PI/365;
  const circleCenter = 100

// Load data using onMount
let datapoints = [];
  onMount(async () => {
    datapoints = await json("/data/daily_heating_cooling.json");
  });

  //Basically copy what lecturer did
  

  let transformed_data = {}
   $:{datapoints.forEach((d)=>{
     if(!(d.city in transformed_data)){
      transformed_data[d.city] ={'outer_value':0,'cooling':[],'heating':[]}
     }
     
     transformed_data[d.city]['heating'].push(d.heating);
     transformed_data[d.city]['cooling'].push(d.cooling);
   })
   for(let city in transformed_data){
      transformed_data[city].outer_value = Math.max(Math.max(Math.max(...transformed_data[city].cooling),...transformed_data[city].heating));
   }
  }


  $: circle_scale = scaleLinear().domain([0,Math.max(...datapoints.map((d) => d.heating))]).range([0,global_radius]);
  // Create path to plot
  let pathGenerator = (day, circle_center_x, circle_center_y, local_radius) => {
    let theta = 0;
    let p = "M";
    circle_scale = scaleLinear().domain([0,local_radius]).range([0,global_radius]);
  
    day.forEach((measure, day_number) => { 
    
      theta = day_number*circlePerDay //(day * 2* pi) / 365 to get the angle theta needed for plotting in a circle 
      p = p + " " + (circle_scale(measure)*Math.sin(theta)+circle_center_x) + ',' + (circle_center_y-circle_scale(measure)*Math.cos(theta));
    })
    return p + " Z"; //Have to finish path
  }




</script>

<div>
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <rect x="-5" y="0" width="10" height="10" fill="red"></rect>
      <rect x="-5" y="19" width="10" height="10" fill="blue"></rect>
      <rect x="-8" y="-5" width="80" height="40" fill="none" stroke="black"></rect>
      <text x="10" y="10" font-family="Helvetica" font-size="15" fill="black">Heating</text>
      <text x="10" y="30" font-family="Helvetica" font-size="15" fill="black">Cooling</text>
      {#each Object.keys(transformed_data) as selected_city, city_array}

        <g transform="translate({240*city_array})">
          <circle cx={circleCenter} cy={innerHeight/2} r={global_radius} stroke="black" fill="none" />
          <text x="{circleCenter-30}" y="250" font-family="Helvetica" font-size="15" fill="black">{selected_city}</text>

          <text x="{circleCenter-5}" y="{innerHeight/2+5-100}" font-family="Helvetica" font-size="15" fill="black">0</text>
          <text x="{circleCenter+95}" y="{innerHeight/2+5}" font-family="Helvetica" font-size="15" fill="black">3</text>
          <text x="{circleCenter-5}" y="{innerHeight/2+105}" font-family="Helvetica" font-size="15" fill="black">6</text>
          <text x="{circleCenter-105}" y="{innerHeight/2+5}" font-family="Helvetica" font-size="15" fill="black">9</text>

          <line x1={circleCenter-90} y1={innerHeight/2} x2={circleCenter+90} y2={innerHeight/2} style="stroke:rgb(0,0,0);stroke-width:0.7"/>
          <line x1={circleCenter} y1={innerHeight/2-90} x2={circleCenter} y2={innerHeight/2+90} style="stroke:rgb(0,0,0);stroke-width:0.7"/>
          <path d={pathGenerator(transformed_data[selected_city]["cooling"], circleCenter, innerHeight/2, transformed_data[selected_city]["outer_value"])} stroke="darkblue"  fill="darkblue"/>
          <path d={pathGenerator(transformed_data[selected_city]["heating"], circleCenter, innerHeight/2, transformed_data[selected_city]["outer_value"])} stroke="red"  fill="red"/>
        </g>
      {/each}
    </g>
  </svg>
</div>

<style>

  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  path {
    fill-opacity: 0.3; 
    stroke-width: 2;
  }

</style>
