
<style>
    p {
      color: steelblue;
      font-size: 50px;
      font-style: italic;
    }.special{
        color: red
    }
  </style>

<p>I <span class=special>really</span> like data visualisation</p>