<script>
    const myList = ["cars", "beer","movies"];
    const myObject = {name:"Johannes",fav_things:myList}
</script>

<p>Hello, my name is {myObject['name']} and these are some of my favorite things: {myObject['fav_things']}.</p>
