<script>
    let click = 0;
    function addOneClick(){click = click +1};
    function resetClicks(){click = 0};
</script>

<style>
    .adding_button {
        background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.reset_button {
        background-color: #d20d0d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>

<button  class="reset_button" type="button"  on:click={resetClicks}>Reset by clicking here</button>
<button class="adding_button" type="button" on:click={addOneClick}>You clicked {click} times.</button>
