<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

    // Importing

  import { scaleLog } from 'd3-scale';
  import { axisBottom } from "d3-axis";
  import {select} from 'd3-selection';

  const scale = scaleLog().domain([1,10]).range([0,innerWidth]);

  function xAxis(handle) {axisBottom(scale)(select(handle))};
  function text(handle) {select(handle).append("text").attr("text-anchor","middle")
  .attr("x",innerWidth/2)
  .attr("y",height/4)
  .attr("font-size",10)
  .attr("text-anchor","end")
  .attr("fill","currentcolor")
  .text("x-axis")}

</script>

<style>
  circle{
  fill: lightsalmon;
  }</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <g transform="translate(0,70)" use:xAxis={"svg"}></g>
    <g transform="translate(0,70)" use:text={"svg"}></g>
    <svg width={width} height={height}>
    {#each values as value}
    <circle cx={scale(value)} cy={innerHeight/2} r="10"/>
    {/each}
  </g>
</svg>
