<script>

  //Importing...
  import {scaleOrdinal} from "d3-scale";
  import {extent} from "d3-array";
  import {scaleLinear} from "d3-scale";
  import {schemePastel1} from "d3";
  
  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const xScale = scaleLinear().domain([0,10]).range([0,innerWidth]);
  const yScale = scaleLinear().domain([4,0]).range([0,innerHeight]);

  const colScale = scaleOrdinal().domain(extent(values.map(a => a.category))).range(schemePastel1);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <circle cx={xScale(value.x)} cy = {yScale(value.y)} r="10" fill={colScale(value.category)} />
    <text class="valueLabel"     y={yScale(value.y)-10} x={xScale(value.x)}>{value.y} </text>
    {/each}
  </g>
</svg>  

<style>
  text{
    text-anchor: middle;
    font-size: small;
  }
</style>
