<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  import {select} from "d3-selection";
  import {scaleLinear,scalePoint} from "d3-scale";
  import {axisBottom, axisLeft} from "d3-axis";

  const yScale = scaleLinear().domain([3,0]).range([15,innerHeight-15]);
  const xScale = scalePoint().domain(data.map(x => x.service)).range([0,innerWidth]);

  //create x and y axis
  const yAxis = axisLeft(yScale);
  const xAxis = axisBottom(xScale)
  const randomNumber = 5;

  function xAxisFunction(input){let x = select(input).call(xAxis)};
  function yAxisFunciton(input){let x = select(input).call(yAxis)};

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as datapoint}
    <rect x={xScale(datapoint.service)-15} y ={yScale(datapoint.viewers)+15} width=15

    height={innerHeight-yScale(datapoint.viewers)-15 }/>
    {/each}
  </g>
  <g transform="translate({margin.left-7.5},{innerHeight+margin.top})" use:xAxisFunction />
  <g transform="translate({margin.left-18 },{15+margin.top})" use:yAxisFunciton />
  <g transform="translate(15,{innerHeight/2+50})"><text text-anchor="start" transform="rotate(270)" fill="currentColor">Viewers</text></g>

</svg>
